<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="BasicFormInteractionTestSuite" verbose="1" parallel="false">
    
    <parameter name="browser" value="chrome"/>
    
    <test name="BasicFormInteractionTests" preserve-order="true">
        <groups>
            <run>
                <include name="smoke"/>
                <include name="regression"/>
            </run>
        </groups>
        
        <classes>
            <class name="com.fresher.automation.tests.BasicFormInteractionTest"/>
        </classes>
    </test>
    
</suite>